.horiz-flex {
	display: flex;
	gap: 1.2rem;

	padding: 1.2rem 3.2rem;

	flex-wrap: wrap;
}

.helvetica {
	font-family: Helvetica, sans-serif;
}

.vert-flex {
	@extend .horiz-flex;

	flex-direction: column;
}

.invisible {
	display: none;
	visibility: none;
}

.visible {
	display: block !important;
	visibility: visible !important;
}

.grid {
	display: grid;
	gap: 1.2rem;
	padding: 1.2rem 2.4rem;
	grid-template-columns: repeat(1, 1fr);
}

.grid-1cols {
	@extend .grid;
}

.grid-3cols {
	@extend .grid;

	grid-template-columns: repeat(3, 1fr);
}

.grid-2cols {
	@extend .grid;

	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 900px) {
	.grid-1cols {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.grid-2cols {
		grid-template-columns: repeat(4, 1fr);
	}
}

.center-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.primary-heading {
	font-size: 4.8rem;
	color: $teal-text;
}

.secondary-heading {
	font-size: 3.6rem;
	letter-spacing: 0.2px;
	font-weight: normal;

	color: $teal-text;
	line-height: 1.1;
	font-weight: 600;
}

.tertiary-heading {
	font-size: 2.8rem;
	font-weight: 500;
	line-height: 1.1;
	color: $teal-text;
}

.center {
	margin: 0 auto;
}

.bold {
	font-weight: 600;
}

.lg-text {
	font-size: 3.2rem;
}

.footer-bg {
	background-color: $footer-bg;
}

.para-text {
	font-size: 1.9rem;
	font-family: Helvetica, sans-serif;
}

@media (min-width: 900px) {
	.secondary-heading {
		font-size: 4.8rem;
	}
	.tertiary-heading {
		font-size: 3.6rem;
	}
}
