* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 50%;
	font-family: sans-serif;
	overflow-x: hidden;
}

@media (min-width: 900px) {
	html {
		font-size: 62.5%;
	}
}

html,
body {
	overflow-x: hidden;
}

// body {
// 	position: relative;
// }

a {
	text-decoration: none;
}

input[type="radio"],
input[type="checkbox"],
select,
button {
	cursor: pointer;
}

@import "variables.scss";
@import "main.scss";

@import "elements/elements.scss";
@import "partials/partials.scss";
@import "templates/templates.scss";
@import "components/components.scss";
