* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Josefin Sans", sans-serif;
	letter-spacing: 0.2;

	overflow-x: hidden;
}

body {
	position: relative;
}

a {
	color: #1f1f1f;
}
@import "variables.scss";
@import "main.scss";

@import "elements/elements.scss";
@import "partials/partials.scss";
@import "templates/templates.scss";
@import "components/components.scss";

@media (min-width: 900px) {
	// html {
	// 	font-size: 75%;
	// }
}
