$teal-background: #24a3b0;
$teal-text: #009bab;

$text-color: #1f1f1f;
$footer-bg: #f9f7f7;
$arrow-color: #e54360;

$tile-yellow: #feb82b;
$tile-red: #e54360;
$tile-blue: #4197cb;
$tile-teal: #24a3b0;

$tile-bg: #efe6e6;

$pink-border: #d31486;
