.radios {
	display: flex;
	gap: 1.6rem;
	padding: 0 0.4rem;

	&-input {
		width: 2.2rem;
		height: 2.2rem;
		align-self: center;

		appearance: none;
		border-radius: 50%;
		box-shadow: 0 0 0 1px white;

		&:checked {
			border: 5px solid $background-green;
			background-color: $primary-yellow;
		}
	}
	label {
		font-weight: 400 !important;
		align-self: center;
	}
}
