.shape-container {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 10;
}
.shape {
	background-color: $teal-background;
	height: 6rem;
	width: 16rem;
	position: relative;

	color: #fff;
	display: flex;
	align-items: flex-end;
	// justify-content: end;

	&__right {
		position: absolute;
		left: 100%;

		border-bottom: 6rem solid $teal-background;
		border-top: 2.4rem solid transparent;
		border-right: 2.4rem solid transparent;
	}

	&__left {
		position: absolute;
		transform: translateY(99%);

		border-left: 18.4rem solid $teal-background;
		border-right: 2.4rem solid transparent;
		border-bottom: 2.4rem solid transparent;
	}

	&__text {
		white-space: nowrap;
		font-size: 2.2rem;
		padding: 0 0 0.8rem 0.8rem;
		font-weight: 500;
	}
}
