.shape-container {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 100000000000000;
}
.shape {
	background-color: $teal-background;
	height: 6rem;
	width: 16rem;
	position: relative;

	color: #fff;
	display: flex;
	align-items: flex-end;

	&__right {
		position: absolute;
		left: 100%;

		border-bottom: 6rem solid $teal-background;
		border-top: 2.4rem solid transparent;
		border-right: 2.4rem solid transparent;
	}

	&__left {
		position: absolute;
		transform: translateY(99%);

		border-left: 18.4rem solid $teal-background;
		border-right: 2.4rem solid transparent;
		border-bottom: 2.4rem solid transparent;
	}

	&__text {
		white-space: nowrap;
		font-size: 1.6rem;
		padding: 0 0 0.8rem 0.8rem;
		font-weight: 500;
	}
}
@media (min-width: 1200px) {
	// .shape {
	// 	height: 9.6rem;
	// 	width: 25.6rem;

	// 	&__right {
	// 		border-bottom: 9.6rem solid $teal-background;
	// 		border-top: 3.84rem solid transparent;
	// 		border-right: 3.84rem solid transparent;
	// 	}

	// 	&__left {
	// 		border-left: 29.44rem solid $teal-background;
	// 		border-right: 3.84rem solid transparent;
	// 		border-bottom: 3.84rem solid transparent;
	// 	}

	// 	&__text {
	// 		font-size: 3.2rem;
	// 		padding: 0 0 1.2rem 2.4rem;
	// 	}
	// }

	.shape-container {
		transform: scale(2) translateX(25%) translateY(25%);
	}
}
