.menu-icon {
	height: 4.2rem;
	width: 4.2rem;
}

.search-icon {
	height: 3.2rem;
	width: 3.2rem;

	fill: $teal-background;
}

.header-btns {
	justify-content: end;
	padding: 1.6rem 1.6rem 1.2rem 3.2rem;

	// background-color: orange;
	// z-index: 10;
	&__text {
		font-size: 1.6rem;
		font-weight: 600;
	}
	&__btn {
		padding: 0;

		border: none;

		background: none;

		align-items: center;

		gap: 0.4rem;
	}

	&__search-btn {
		padding: 0;
	}
}

.nav {
	&__list {
		position: absolute;
		padding: 4.2rem 0 3.2rem 2.4rem;
		width: 100%;

		border-top: 2px solid #f1f1f1;

		background-color: #fff;

		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

		// invisible
		display: none;
		visibility: none;

		z-index: 100000;
	}
	&__link {
		color: $teal-text;
		font-size: 2rem;
		font-weight: 500;
		position: relative;
	}
	&__item {
		padding: 0;
	}
}

.desktop-btn {
	color: #000;
	padding: 0.8rem 2.4rem;

	display: none;
	visibility: hidden;
}

.arrow {
	transform: rotate(270deg);
	margin-left: 1.2rem;

	border-top: 1rem solid $arrow-color;
	border-left: 0.6rem solid transparent;
	border-right: 0.6rem solid transparent;
}

.arrow-rotate {
	transform: rotate(0deg) translatex(-60%) translateY(30%);
}

@media (min-width: 900px) {
	.nav {
		display: flex;
		flex-direction: column;

		align-items: flex-end;
		padding: 0 10rem;
		&__list {
			visibility: visible;
			display: block;

			display: flex;
			flex-direction: row;
			justify-content: end;

			padding: 6.2rem 0 1.6rem 4.8rem;

			box-shadow: none;
		}

		&__desktop-btns {
			visibility: visible;
			display: flex;
			padding: 0;

			align-self: flex-end;
			z-index: 1;
			margin-top: 1.2rem;
		}
	}
	.header-btns {
		display: none;
		visibility: hidden;
	}
}
