<section class="info">
	<ul class="info__list grid">
		<li class="vert-flex info__item">
			<img src="images/section-img1.png" alt="image of families" class="info__img" />

			<div class="info__text vert-flex">
				<h2 class="secondary-heading">Current Vacancies</h2>
				<p class="para-text">Have a look at our current vacancies</p>
				<button class="btn btn__fill--red info__btn">Read More</button>
			</div>
		</li>
		<li class="vert-flex info__item">
			<img src="images/section-img2.png" alt="image of a woman checking a fuse box" class="info__img" />

			<div class="info__text vert-flex">
				<h2 class="secondary-heading">Performance</h2>
				<p class="para-text">View our annual report, corporate plan, value for money statement and other regulatory documents.</p>
				<button class="btn btn__fill--red info__btn">Read More</button>
			</div>
		</li>
		<li class="vert-flex info__item">
			<img src="images/section-img3.png" alt="graphic of a person on a sofa with a laptop" class="info__img info__graphic" />

			<div class="info__text vert-flex">
				<h2 class="secondary-heading">Plus Dane Board and Governance</h2>
				<p class="para-text">
					Plus Dane Housing Limited is a registered society under the Cooperative and Community Benefit Societies Act 2014 and is registered with the
					Financial Conduct Authority. Registration No: 31012R.
				</p>
				<button class="btn btn__fill--red info__btn">Read More</button>
			</div>
		</li>
		<li class="vert-flex info__item">
			<img src="images/section-img4.png" alt="image of a group of people" class="info__img" />

			<div class="info__text vert-flex">
				<h2 class="secondary-heading">Here's Our Stories</h2>
				<p class="para-text">Stories of the amazing people and remarkable achievements we come across.</p>
				<button class="btn btn__fill--red info__btn">Read More</button>
			</div>
		</li>
	</ul>
</section>
