{% extends "templates/3col-grid.html" %} {% block subheading %}
<h2 class="subheader">Buyer's Stories</h2>

{% endblock %} {% block option1 %}
<div class="story">
	<div class="small-img-placeholder">img goes here</div>
	<div class="story__text-container">
		<h2><a href="#" class="story__header text-link">Help to Buy secures dream family home by the coast!</a></h2>
		<p>
			When Deene Tether and his wife Louise decided to move out of rented accommodation and find a home of their own they assumed they weren't eligible
			for the government's Help to Buy scheme as they had both owned homes previously.
		</p>
	</div>
</div>
{% endblock %} {% block option2 %}
<div class="story">
	<div class="small-img-placeholder">img goes here</div>
	<div class="story__text-container">
		<h2><a href="#" class="story__header text-link">Help to Buy allows parents to-be buy bigger at Broadacres</a></h2>
		<p>Kayleigh Stevens (29) and Josh Morris (28).moved back in with their parents to make home ownership a reality.</p>
	</div>
</div>
{% endblock %} {% block option3 %}
<div class="story">
	<div class="small-img-placeholder">img goes here</div>
	<div class="story__text-container">
		<h2><a href="#" class="story__header text-link">Help to buy gives Kelly and Adam their first home together!</a></h2>
		<p>
			For Kelly and Adam a new-build home was the dream. Kelly had bought her previous home with her dad, a builder, and lived through months of
			renovation work complete with noise, dust and cold draughts.
		</p>
	</div>
</div>
{% endblock %}
