{% extends "templates/3col-grid.html" %} {% block subheading %}
<h2 class="secondary-header">News & Events</h2>
{% endblock %} {% block option1 %}
<div class="news-preview">
	<div class="text">
		<h2 class="text__title">
			<a href="#" class="text__title__link">This is a news item title that links to the full story</a>
		</h2>
		<p class="text__date">29 April 2022</p>
		<p class="text__text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
			voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
		</p>
	</div>
</div>
{% endblock %} {% block option2 %}
<div class="news-preview">
	<div class="text">
		<h2 class="text__title">
			<a href="#" class="text__title__link">This is a news item title that links to the full story</a>
		</h2>
		<p class="text__date">29 April 2022</p>
		<p class="text__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
	</div>
</div>
{% endblock %} {% block option3 %}
<div class="news-preview">
	<div class="text">
		<h2 class="text__title">
			<a href="#" class="text__title__link">This is a news item title that links to the full story</a>
		</h2>
		<p class="text__date text__event">29 April 2022</p>
		<p class="text__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
	</div>
</div>
{% endblock %}
