{% include "../partials/news-tile.html" %}
<!--  -->
{% include "../partials/news-tile.html" %}
<!--  -->
<li class="news__preview">
	<h2 class="news__title">
		<a href="#" class="news__title--link">This is a news item title that links to the full story</a>
	</h2>
	<p class="news__date news__event">29 April 2022</p>
	<p class="news__text">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officiis voluptas labore doloremque magni. Odit consequuntur obcaecati, vitae
		veniam, cum adipisci tenetur incidunt quis ratione assumenda laboriosam nesciunt fugit. Adipisci, cum in tempore, consequatur velit ex aliquid,
		voluptatum exercitationem itaque quas sequi sit.
	</p>
	<hr />
</li>

<!--  -->
{% include "../partials/news-tile.html" %}
<!--  -->
{% include "../partials/news-tile.html" %}
<!--  -->
{% include "../partials/news-tile.html" %}
