<!-- TODO: sort from partials -->
<!-- added -->

<!-- TODO: preview panel from partials -->
<section class="preview-container">
	<section class="description">
		<h1 class="primary-heading green-heading">Property Search</h1>
		<p class="description__results">365 results for Pembrokeshire</p>
		<p class="description__disclaimer">
			The property search results are not an exhaustive list and are specific to the geographical regions we cover. Our listings are updated regularly buy
			other properties may be available - please speak to us for more information.
		</p>
	</section>
	{% include "../partials/prop-sort.html" %}
	<!-- panels -->
	{% include "../partials/prop-preview.html" %} {% include "../partials/prop-preview.html" %} {% include "../partials/prop-preview.html" %} {% include
	"../partials/prop-preview.html" %} {% include "../partials/prop-preview.html" %}
</section>

<!-- TODO: page select from partials -->
{% include "../partials/page-select.html" %}
