<section>
	<img src="images/1.jpg" alt="placeholder image for a house" class="carousel-img" id="featured" />

	<img src="images/2.jpg" alt="placeholder image for a house" class="carousel-img thumbnail active" id="featured" />
	<img src="images/3.jpg" alt="placeholder image for a house" class="carousel-img thumbnail saturate30" id="featured" />
	<img src="images/4.jpg" alt="placeholder image for a house" class="carousel-img thumbnail saturate40" id="featured" />
	<img src="images/5.jpg" alt="placeholder image for a house" class="carousel-img thumbnail saturate50" id="featured" />
	<img src="images/6.jpg" alt="placeholder image for a house" class="carousel-img thumbnail saturate50" id="featured" />

	<script src="carousel.js" defer></script>
</section>
