<div class="newsletter">
	<div>
		<h2 class="newsletter__header">Newsletter Signup</h2>
		<p class="newsletter__text">
			We would like to send you regular updates about Help to Buy news, events, and properties. By providing your email address you agree to recieve
			these.<br />
		</p>
		<p class="unsub">You can unsubscribe at any time.</p>
	</div>
	<form action="#" class="newsletter__input">
		<input type="email" aria-label="email" placeholder="Enter your email" required />
		<button class="btn primary-btn dark-bg" type="submit">Sign Up</button>
	</form>
	<p class="privacy-policy">
		We promise to keep your data safe and will never sell it to third parties. "We" include Homes England, it's appointed agents, and mortgage
		administrator. For further information about how your data is stored and used, please see
		<a href="#" class="text-link dark-bg privacy-policy__link"> our privacy poilcy</a>.
	</p>
</div>
