<section class="page-select">
	<ul class="page-select__list">
		<li class="page-select__list__link">
			<a class="text-link" href="#">First</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link" href="#">Previous</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link number-link" href="#">1</a>
		</li>
		<li class="page-select__list__link current">
			<a class="text-link number-link" href="#">2</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link number-link" href="#">3</a>
		</li>
		<li class="page-select__list__link"><span>...</span></li>
		<li class="page-select__list__link">
			<a class="text-link number-link" href="#">12</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link number-link" href="#">13</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link number-link" href="#">14</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link" href="#">Next</a>
		</li>
		<li class="page-select__list__link">
			<a class="text-link" href="#">Last</a>
		</li>
	</ul>
</section>
