<section class="panel">
	<div class="left">
		<div class="temp-img"></div>
		<p class="left__price">£400,000</p>
		<div class="left__subtext">
			<p>Scheme type</p>
			<p class="address">5 Moorside View Wilsden BD15 0FP</p>
			<div class="bed-bath">
				<p>4 Bedrooms</p>
				<p>2 Bathrooms</p>
			</div>
		</div>
	</div>
	<div class="right">
		<p class="right__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil aliquid nesciunt velit deserunt enim?</p>

		<ul class="right__list">
			<li>Item one</li>
			<li>Item two</li>
			<li>Item three</li>
			<li>Item four</li>
			<li>Item five</li>
			<li>Item six</li>
		</ul>

		<button class="btn primary-btn detail-btn">View details</button>
	</div>
</section>
