<aside class="search-section">
	<script src="./js/filter-dropdown.js" defer></script>
	<h2 class="secondary-heading">Search</h2>

	<div class="location">
		<label for="location-input" class="location__label">Location</label>
		<input type="text" class="location__input" id="location-input" placeholder="Town or Postcode" />
		<div id="filter-dropdown">
			<svg
				class="filter-icon"
				stroke="currentColor"
				fill="currentColor"
				stroke-width="0"
				viewBox="0 0 24 24"
				height="1em"
				width="1em"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6.293 13.293L7.707 14.707 12 10.414 16.293 14.707 17.707 13.293 12 7.586z"></path>
			</svg>
			<p class="text-link dark-bg" id="filter-text">Open filters</p>
		</div>
	</div>

	<div class="filters invisible">
		<div class="buy-rent">
			<h2 class="secondary-heading">Refine Search</h2>

			<div class="text-center radios">
				<input type="radio" class="radios-input" id="buy-radio" />
				<label for="buy-radio">To buy</label>
			</div>

			<div class="text-center radios">
				<input type="radio" class="radios-input" id="rent-radio" />
				<label for="rent-radio">To rent</label>
			</div>
		</div>

		<div class="large-selection vertical-flex">
			<label for="distance-select">Distance from location</label>
			<div class="distance select-div">
				<select name="distance" id="distance-select">
					<option value="#" class="large-option">This location only</option>
				</select>
			</div>
		</div>

		<div class="small-selection vertical-flex">
			<label for="property-select">Property type</label>
			<div class="property-type select-div">
				<select name="property" id="property-select">
					<option value="#" class="small-option">Any</option>
				</select>
			</div>
		</div>

		<div class="small-selection vertical-flex">
			<p>Number of bedrooms</p>
			<div class="select-div">
				<select name="bedrooms" id="bedroom-minmax" aria-label="minimum amount of bedrooms">
					<option value="#" class="small-option">No minimum</option>
				</select>
			</div>
			<div class="select-div">
				<select name="bedrooms" id="bedroom-minmax" aria-label="maximum amount of bedrooms">
					<option value="#" class="small-option">No maximum</option>
				</select>
			</div>
		</div>

		<div class="small-selection vertical-flex">
			<p>Price range</p>
			<div class="select-div">
				<select name="bedrooms" id="price-range-minmax" aria-label="minimum price">
					<option value="#" class="small-option">No minimum</option>
				</select>
			</div>
			<div class="select-div">
				<select name="bedrooms" id="price-range-minmax" aria-label="maximum price">
					<option value="#" class="small-option">No maximum</option>
				</select>
			</div>
		</div>

		<div class="large-selection vertical-flex">
			<label for="developer-selection">Developer</label>
			<div class="developer select-div">
				<select name="developer" id="developer-selection">
					<option value="#" class="small-option">Any</option>
				</select>
			</div>
		</div>

		<div class="large-selection vertical-flex">
			<label for="scheme-selection">Scheme</label>
			<div class="scheme select-div">
				<select name="scheme" id="scheme-selection">
					<option value="#" class="small-option">Any</option>
				</select>
			</div>
		</div>

		<div class="must-have">
			<label class="check-contain">
				<span>Off-street parking</span>
				<input type="checkbox" />
				<div class="check-input"></div>
			</label>
			<label class="check-contain">
				<span>Garage</span>
				<input type="checkbox" />
				<div class="check-input"></div>
			</label>
		</div>
	</div>

	<button class="btn primary-btn dark-bg">Submit</button>
</aside>
