<div class="selection-container">
	<div class="btn-container">
		<button class="btn secondary-btn save-btn">Save Progress</button>
	</div>
	<div class="selection-list">
		<a href="#" class="text-link selection-list__link current">1. Scheme Selection</a>
		<a href="#" class="text-link selection-list__link">2. About You</a>
		<a href="#" class="text-link selection-list__link">3. Other occupants</a>
		<a href="#" class="text-link selection-list__link">4. Current accommodation</a>
		<a href="#" class="text-link selection-list__link">5. Employment details</a>
		<a href="#" class="text-link selection-list__link">6. Financial details</a>
		<a href="#" class="text-link selection-list__link">7. Equal opportunities</a>
		<a href="#" class="text-link selection-list__link">8. More information</a>
		<a href="#" class="text-link selection-list__link">9. Declaration</a>
		<a href="#" class="text-link selection-list__link">10. Application Confimation</a>
	</div>
</div>
