{% extends "../nunjucks/templates/core.html" %}

<!-- Title -->
{% block title %} Home Page {% endblock %}

<!-- Content -->
{% block content %}
<main>
	{% include "../nunjucks/components/home-page/tiles.html" %}
	<!-- tiles ^^^ -->

	{% include "../nunjucks/components/home-page/find-help.html" %}
	<!-- search for help ^^^ -->

	{% include "../nunjucks/components/home-page/info-tiles.html" %}
	<!-- info tiles ^^^ -->

	{% include "../nunjucks/components/home-page/homebuilder.html" %}
	<!-- homebuilder section ^^^ -->

	{% include "../nunjucks/components/home-page/stories.html" %}
	<!-- stories section ^^^ -->

	{% include "../nunjucks/components/home-page/apps.html" %}
	<!-- app store links ^^^ -->

	{% include "../nunjucks/components/home-page/magazine.html" %}
	<!-- magazine section ^^^ -->
</main>
{% endblock %}
