{% extends "../nunjucks/templates/core.html" %} {% block title %} News & Events {% endblock %} {% block content %}

<section class="news-container">
	<h1 class="primary-heading center green-heading">News and Events</h1>

	<!-- News things go here (partial)-->
	<ul class="news">
		{% include "../nunjucks/components/news-list.html" %}
	</ul>

	<!-- pageination from partials -->
	{% include "../nunjucks/partials/page-select.html" %}

	<!-- newsletter from partials -->
	{% include "../nunjucks/partials/newsletter.html" %}
</section>
{% endblock %}
