{% extends "../nunjucks/templates/core.html" %} {% block title %} Property Search {% endblock %}

<!-- prop-search
        -description-section
        -sort-section
        -preview-panel
        -page-selector
     search-section -->
{% block content %}
<main class="form-bg">
	<div class="page-container">
		{% include "../nunjucks/partials/prop-search-aside.html" %}
		<section class="prop-search">{% include "../nunjucks/components/prop-search.html" %}</section>
	</div>

	<!-- TODO: aside goes here -->
</main>
{% endblock %}
