<header class="header">
	<script src="../js/mobile-nav.js" defer></script>
	{% include "../components/title-shape.html" %}

	<nav class="nav">
		<div class="header-btns horiz-flex">
			<button class="header-btns__btn horiz-flex btn">
				<p class="header-btns__text">Menu</p>
				<svg
					id="menu-open"
					class="menu-icon"
					stroke="currentColor"
					fill="currentColor"
					stroke-width="0"
					viewBox="0 0 512 512"
					height="1em"
					width="1em"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M432 176H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16zM432 272H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16zM432 368H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16z"
					></path>
				</svg>
				<!-- open ^^^ -->
				<svg
					id="menu-close"
					class="menu-icon invisible"
					stroke="currentColor"
					fill="currentColor"
					stroke-width="0"
					viewBox="0 0 16 16"
					height="1em"
					width="1em"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M7.116 8l-4.558 4.558.884.884L8 8.884l4.558 4.558.884-.884L8.884 8l4.558-4.558-.884-.884L8 7.116 3.442 2.558l-.884.884L7.116 8z"
					></path>
				</svg>
				<!-- close ^^^ -->
			</button>
			<button class="btn header-btns__search-btn">
				<svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="34.413" height="34.189" viewBox="0 0 34.413 34.189">
					<g id="Group_1513" data-name="Group 1513" transform="translate(-331.055 -23.965)">
						<path
							id="Path_1643"
							data-name="Path 1643"
							d="M10.492,20.835a10.461,10.461,0,0,1-7.419-3.051,10.365,10.365,0,0,1,0-14.732,10.545,10.545,0,0,1,14.838,0,10.365,10.365,0,0,1,0,14.732A10.462,10.462,0,0,1,10.492,20.835Zm0-18.383a7.966,7.966,0,1,0,8.023,7.966A8,8,0,0,0,10.492,2.452Z"
							transform="translate(331.055 38.803) rotate(-45)"
							fill="#24a3b0"
						/>
						<rect
							id="Rectangle_1496"
							data-name="Rectangle 1496"
							width="2.84"
							height="12.07"
							transform="translate(353.418 44.096) rotate(-45)"
							fill="#24a3b0"
						/>
						<rect
							id="Rectangle_1497"
							data-name="Rectangle 1497"
							width="2.84"
							height="12.07"
							transform="translate(349.402 48.113) rotate(-45)"
							fill="#24a3b0"
						/>
						<rect
							id="Rectangle_1498"
							data-name="Rectangle 1498"
							width="2.84"
							height="8.52"
							transform="translate(363.459 50.121) rotate(45)"
							fill="#24a3b0"
						/>
					</g>
				</svg>
			</button>
		</div>

		<div class="nav__desktop-btns horiz-flex">
			<button class="btn btn--blue desktop-btn">Log in to my Plus Dane</button>
			<button class="btn btn--blue desktop-btn">Search</button>
		</div>

		<ul class="nav__list vert-flex">
			<li class="horiz-flex nav__item">
				<a class="text-link nav__link" href="home-page.html">Your Home</a>
				<div class="arrow"></div>
			</li>
			<li class="horiz-flex nav__item">
				<a class="text-link nav__link" href="#">Find a home</a>
				<div class="arrow"></div>
			</li>
			<li class="horiz-flex nav__item">
				<a class="text-link nav__link" href="#">Get involved</a>
				<div class="arrow"></div>
			</li>
			<li class="horiz-flex nav__item">
				<a class="text-link nav__link" href="#">Work & training</a>
				<div class="arrow"></div>
			</li>
			<li class="horiz-flex nav__item">
				<a class="text-link nav__link" href="section-page.html">About us</a>
				<div class="arrow"></div>
			</li>
			<li><a class="text-link nav__link" href="#">Contact us</a></li>
		</ul>
	</nav>
</header>

<!-- TODO: ADD DESKTOP BUTTONS -->
