<section class="homebuilder">
	<div class="homebuilder__text-container">
		<div class="horiz-flex homebuilder__icon-text">
			<svg class="homehub-icon" xmlns="http://www.w3.org/2000/svg" width="52.034" height="56.889" viewBox="0 0 52.034 56.889">
				<path
					id="Path_4335"
					data-name="Path 4335"
					d="M759.223,461.848l-.109-56.877-16.332-.012-.039,20.39H723.61V405.082l-16.421-.046.008,56.812,16.413-.03V445.093l9.349-9.349,9.746,9.745-.031,16.25Z"
					transform="translate(-707.19 -404.959)"
					fill="#fff"
				/>
			</svg>

			<div class="secondary-heading helvetica">
				<p class="subheading"><span class="bold">Homes</span>Hub</p>
				<p class="sub-subheading">by Plus Dane</p>
			</div>
		</div>

		<div class="vert-flex helvetica">
			<h2 class="secondary-heading homebuilder__heading">We're your Homebuilder</h2>
			<p class="homebuilder__text">Whether you're taking your first steps on the property ladder or would rather</p>
		</div>

		<div class="vert-flex">
			<button class="btn btn__fill btn__fill--white homebuilder__btn">Find your new home</button>
			<button class="btn btn--white homebuilder__btn homebuilder__btn--filled">More about HomesHub</button>
		</div>
	</div>

	<img class="homebuilder__img" src="images/homebuilder-img.png" alt="image of a home" />
</section>
