<section class="grid-1cols info">
	<div class="info-tile info-tile--yellow vert-flex">
		<h2 class="secondary-header info-heading">Important information</h2>
		<ul class="info-tile__list helvetica">
			<li class="info-tile__item item-yellow"><a href="#">Covid 19</a></li>
			<li class="info-tile__item item-yellow"><a href="#">Secondary Update</a></li>
		</ul>
		<button class="btn btn--yellow info-tile__btn">View all important updates</button>
	</div>
	<div class="info-tile info-tile--blue vert-flex">
		<h2 class="secondary-header info-heading">Latest news</h2>
		<ul class="info-tile__list helvetica">
			<li class="info-tile__item item-blue"><a href="#">A helping hand with Households into Work</a></li>
			<li class="info-tile__item item-blue"><a href="#">Government roadmap - service update</a></li>
			<li class="info-tile__item item-blue"><a href="#">National Employability Day - 30 April</a></li>
		</ul>
		<button class="btn btn--blue info-tile__btn">View all news</button>
	</div>
	<div class="info-tile info-tile--pink vert-flex">
		<h2 class="secondary-header info-heading">Homes</h2>
		<ul class="info-tile__list helvetica">
			<li class="info-tile__item item-pink"><a href="#">Buying a home</a></li>
			<li class="info-tile__item item-pink"><a href="#">Renting a home</a></li>
			<li class="info-tile__item item-pink"><a href="#">Developments</a></li>
		</ul>
		<button class="btn btn--pink info-tile__btn">View homes information</button>
	</div>
</section>
