<section class="magazine">
	<img class="magazine__img" src="images/magazine-img.png" alt="magazine image" />
	<div class="magazine__container vert-flex">
		<div class="magazine__text">
			<h2 class="secondary-heading magazine__heading">Read Unity</h2>
			<p class="magazine__subtext">The magazine for Plus Dane residents</p>
		</div>

		<div class="magazine__btns vert-flex">
			<button class="btn btn--white magazine__btn">Browse publications</button>
			<button class="btn btn--white magazine__btn">Get alerts</button>
		</div>
	</div>
</section>
