<section class="stories vert-flex">
	<h2 class="secondary-heading stories__heading">Our stories</h2>

	<div class="stories__tile vert-flex">
		<h3 class="tertiary-heading">Kindness helps the Jacobs recover from Covid-19</h3>
		<p class="stories__text helvetica">
			As the country fights coronavirus, there has probably never been a more appropriate time to celebrate kindness and the impact it has on our mental
			health and wellbeing.
		</p>

		<div class="stories__btn-container">
			<button class="btn btn__fill--red stories__btn">Read more</button>
			<button class="btn btn--pink stories__btn">Read all stories</button>
		</div>
	</div>

	<img class="stories__img" src="images/stories-img.png" alt="image of a family" />
</section>
