.help {
	margin: 3.2rem auto 1.2rem auto;

	background-color: $teal-background;

	border-radius: 8px;

	width: 70vw;

	gap: 0.4rem;

	&__title {
		color: #fff;
		font-size: 2.4rem;
	}

	&__input {
		border: none;
		height: 4rem;
		width: 24rem;
	}
}

.btn__search {
	margin-top: 0.6rem;
	padding: 0.8rem 4.2rem;

	font-size: 1.8rem;
	font-weight: 500;
}
