.subheader {
	font-size: 2.4rem;
	color: $primary-text;
}

.options {
	width: 80vw;
	// flex: 1;
	&__option {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		align-items: center;

		// flex: 1;

		padding: 3.6rem;

		color: $secondary-text;
		font-size: 1.8rem;
		text-align: center;

		background-color: #fff;

		&__text {
			flex: 1;
		}

		&__icon {
			fill: $primary-green;
			height: 7.2rem;
			width: 7.2rem;
			justify-self: center;
		}

		&__btn {
			align-self: center;
			justify-self: end;
			width: 20rem;
		}
	}
}

.flip {
	transform: rotateY(180deg);
}
