.carousel {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	gap: 1.2rem;
	width: inherit;

	&__img {
		position: relative;

		display: flex;
		gap: 1.2rem;

		align-items: center;

		width: inherit;
	}

	&__img-container {
		display: grid;
		gap: 1.2rem;
		grid-template-columns: repeat(6, 1fr);
	}
}

#featured {
	width: inherit;
}

.thumbnail {
	height: 8rem;
	cursor: pointer;
	opacity: 0.6;

	&:hover {
		opacity: 1;
	}
}

.active {
	opacity: 1;
}

.chevron {
	height: 100%;
	background-color: $form-background;

	z-index: 1;

	cursor: pointer;
}

.carousel-icon {
	height: 5.2rem;
	width: 5.2rem;
	fill: $primary-green;
}

.right-chevron {
	order: 3;
}

.no-overflow {
	overflow: hidden;
}
