.chat-icon {
	height: 5.4rem;
	width: 5.4rem;

	stroke: $teal-background;
}

.live-chat {
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);

	cursor: pointer;

	height: 8.6rem;
	width: 8.6rem;

	border-radius: 8px;

	z-index: 100000;

	position: sticky;

	bottom: 1rem;
	left: 99vw;

	&__text {
		font-weight: 600;
		font-size: 1.6rem;
	}
}
