.page-select {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 3.2rem;

	&__list {
		list-style: none;
		display: flex;
		gap: 0.8rem;

		&__link {
			font-size: 1.8rem;

			span {
				color: $text-link;
			}
		}
	}
}

.number-link {
	text-decoration: none;
}
