.srch-bar {
	background-color: $background-green;
	padding: 2.4rem 6.4rem;

	display: flex;
	gap: 2.4rem;

	width: 80vw;

	white-space: nowrap;

	align-items: center;
	justify-content: space-around;

	font-size: 1.6rem;

	position: absolute;

	left: 50%;
	transform: translate(-50%, -50%);

	&__srch-header {
		font-size: 2.4rem;
		font-weight: 600;
		color: #fff;
	}

	&__group {
		display: flex;
		gap: 0.8rem;
	}

	&__input {
		height: 2.4rem;
		width: 20vw;
		border: none;
		padding: 1.2rem;
		font-size: 1.8rem;
	}
}

@media (max-width: 900px) {
	.srch-bar {
		flex-direction: column;
	}

	.section {
		padding-top: 16rem !important;
	}
	// change to margin on image??
}

@media (max-width: 550px) {
	.srch-bar__group {
		flex-direction: column;
		justify-content: center;
	}
	html {
		font-size: 50%;
	}
}
